[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
drf-spectacular = "*"
redis = "*"
celery = "*"
django-import-export = "*"
model-bakery = "*"
whitenoise = "*"
waitress = "*"
pywin32 = "*"
pyinstaller = "*"
django-cors-headers = "*"
django-unfold = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.10"
