{% load i18n %}

{% block subject %}
{% blocktrans %}Password Reset Request{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: Arial, sans-serif; background-color: #f2f2f2; margin: 0; padding: 0;">
    <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" style="padding: 20px 0;">
                <table role="presentation" width="500px" border="0" cellspacing="0" cellpadding="0"
                    style="background-color: #ffffff; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 500px; width: 100%; text-align: center;">
                    
                    <!-- Header -->
                    <tr>
                        <td class="header"
                            style="background-color: #ff5722; color: white; border-top-left-radius: 15px; border-top-right-radius: 15px; padding: 20px; font-size: 1.5em;">
                            <h4 style="margin: 0;">{% trans "Password Reset Request" %}</h4>
                        </td>
                    </tr>

                    <!-- Body -->
                    <tr>
                        <td class="body" style="padding: 20px; font-size: 1em; color: #444;">
                            <h4 style="margin-bottom: 10px;">{% trans "Hello," %}</h4>
                            <p style="margin-bottom: 20px;">{% trans "We received a request to reset your password." %}</p>
                            <p style="margin-bottom: 20px;">{% trans "Please click the button below to reset your password:" %}</p>
                            <a href="{{ url|safe }}" class="reset-btn"
                                style="display: inline-block; background-color: #0088d7; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 1em; margin: 20px 0;">
                                {% trans "Reset Password" %}
                            </a>
                            <p style="margin: 20px 0;">{% trans "If you did not request a password reset, please ignore this email." %}</p>
                        </td>
                    </tr>

                    <!-- Footer -->
                    <tr>
                        <td class="footer"
                            style="font-size: 0.9em; color: #666; border-top: 1px solid #ddd; padding: 10px; text-align: center;">
                            <p style="margin: 0;"><code>From <i>Authentication System | code written by Yosef Emyayu</i></code></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
{% endblock html_body %}
