<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            <h3>hello drunker </h3>

    
    <table >

        {% for data in datas%}
        <tr>
           <td > {{data.id}} </td>
           <td> {{data.order.created_at}} </td>
           <td> {{data.order.get_payment_status_display}} </td>
           <td> {{data.product.title}} </td>
           <td> {{data.unit_price}} </td>
           <td> {{data.quantity}} </td>



        </tr>
        {{datas}}
        {%endfor%}
    </table>

</body>
</html>